---
http_interactions:
- request:
    method: post
    uri: https://api.deepinfra.com/v1/openai/embeddings
    body:
      encoding: UTF-8
      string: '{"input":"Hello, world","model":"BAAI/bge-m3"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"object":"list","model":"BAAI/bge-m3","usage":{"prompt_tokens":5,"total_tokens":5},
        "data": [{"index": 0, "object": "embedding", "embedding": [-0.026151025667786598,
        0.03436359390616417, -0.03434513881802559, 0.021038934588432312, -0.03323782607913017,
        -0.05012433975934982, -0.06957612186670303, -0.04252079501748085, 0.014302784577012062,
        0.006662329193204641, 0.0005363544332794845, 0.013546121306717396, 0.02762744203209877,
        -0.01691419631242752, 0.042114779353141785, 0.012115842662751675, 0.02969442494213581,
        -0.020429912954568863, -0.04495688155293465, -0.03021117113530636, -0.049902874976396[...]
